@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none; /* lisn */
}

img {
    vertical-align: top; /* vat */
}

body {
    font: 16px/1.6 Pretendard, sans-serif;
}

a {
    text-decoration: none; /* tdn */
    color: inherit;
}

a:hover {
    text-decoration: none; /* tdn */
    color: #546220;
}

.menu {
    /* w1078+m0-a+bg#ff5 */
    width: 1078px;
    margin: 0 auto;
    /* background: #ff5; */
}

.menu h1 {
    display: none; /* dn */
}

.menu-list {
    /* background: green; */
    display: flex; /* df */
    flex-wrap: wrap; /* fxww */
    gap: 60px 29px; /* g60-29 */
}
.menu-list li {
    /* border: 1px solid #000; bd */
    /* w340+h410+bg#fff */
    width: 340px;
    height: 410px;
    background: #fff;

    position: relative; /* posr: 직계자손 절대배치의 기준점 */
}

.badge {
    display: block; /* db */
    width: 40px;
    height: 40px;
    background: no-repeat /* nop */ 50%;

    position: absolute; /* posa */
    top: 20px;
    left: 21px; /* t20+l21 */

    color: transparent;
}

.badge-best {
    background-image: url(../images/ico_menu_best.png);
}
.badge-hot {
    background-image: url(../images/ico_menu_hot.png);
}
.badge-new {
    background-image: url(../images/ico_menu_new.png);
}

.menu-con {
    text-align: center; /* tac */
    padding-top: 15px; /* pt15 */
}

.menu-con strong {
    font-weight: 600; /* fw500 */
    font-size: 20px; /* fz20 */
    color: #000;
}
.menu-con p {
    font-size: 14px; /* fz14 */
    color: #999;
}

/* 상세 정보 */
.detail-info {
    background: rgba(45, 104, 11, 0.7); /* rgba */

    position: absolute; /* posa */
    top: 0;
    left: 0;

    /* 절대배치된 요소는 가로크기가 쪼그라든다. 재설정이 필요 */

    width: 100%; /* w100p: 일반적으로는 부모의 크기를 기준으로 100p(퍼센트) */
    height: 340px;

    text-align: center; /* tac: 블록요소가 감싸고 있는 인라인 요소를 가운데로 */

    padding: 70px 22px 58px; /* p70(위)-22(좌우)-58(밑) */

    opacity: 0; /* op0 */
}

.detail-info dl dt {
    /* fw600+fz22+c#fff */
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}

.detail-info dl dt + dt {
    /* 인접형제선택자: dt에 인접한 dt */

    /* fw500+fz16+c#e9b863 */
    font-weight: 500;
    font-size: 16px;
    color: #e9b863;
    margin-top: 10px;
    /* body에 1.6 줄간격을 넣어서 저게 기본값으로 들어감 */
}

.detail-info dl dd {
    color: rgba(255, 255, 255, 0.6); /* rgba */
    margin-top: 15px;
}

.detail-info .more {
    display: block; /* db */
    /* w38+h38+bg */
    width: 38px;
    height: 38px;
    /* background: #000; */
    margin: 30px auto 0; /* m20-a-0 */

    position: relative; /* posr: position의 기준점 잡아주는 것 */
}

.detail-info .more::before {
    content: ""; /* ct(필수) */
    display: block;
    /* w100p+h1+bg#fff */
    width: 100%;
    height: 1px;
    background: #fff;

    /* posa+t50p+l50p */
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); /* trft */
}

.detail-info .more::after {
    content: ""; /* ct */
    display: block; /* 포지션 앱솔루트가 있어서 넣을 필요는 없으나! 헷갈리니까~! */

    /* w1+h100p+bg#fff */
    width: 1px;
    height: 100%;
    background: #fff;

    /* posa+t50p+l50p */
    position: absolute; /* position: absolute된 요소는 블록 요소처럼 됨 */
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(90deg); /* trft */
}

/* hover effect */

.menu-list li:hover .detail-info {
    opacity: 1; /* op1 */
    transition: 0.4s; /* trs.4s */
}

.menu-list li:hover .detail-info .more::after {
    transform: translate(-50%, -50%) rotate(0deg); /* trft */
    transition: 0.4s 0.4s; /* trs.4s (마지막에 들어가는 (0.4s)는 딜레이) */
}
